

body {
  background-image: url('/z/imgs/bg.jpg');
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
}

body::after {
  content: "";
  background: url('/z/imgs/bg.jpg');
  background-size: cover;
  opacity: 0.7; /* Điều chỉnh độ mờ ở đây, giữa 0 (hoàn toàn trong suốt) và 1 (hoàn toàn không trong suốt) */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/* CSS cho máy tính để bàn */
body {
  padding: 15px;
}

/* CSS cho tablet */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

/* CSS cho điện thoại */
@media (max-width: 480px) {
  body {
    padding: 5px;
  }
}



#search {
  position: relative;
  padding: 20px 30px;
  overflow: hidden;
  width: 900px;
  background: #fff;
  height: 200px;
  background: #141414;
  margin: 50px auto;
  display: flex;
}

.drug a{
    text-decoration: none
}
.topic a{
    text-decoration: none
}
.blank3{
    position: relative;
    flex: 0 0 5%;
    max-width: 25%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-top: 5%;


}
.footer{
    direction: rtl;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 815px;
    margin: 0 auto;
    position: relative;
  }
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
.row2{
  width: 70%;
  height: 50%;

  margin: auto;
}
.row3{
  display: flex;
}
  .uptodate1 {
    margin-top: 3%;
    margin-bottom: 3%;
    flex: 0 0 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #uptodate-img1{
    width: 40%;
    margin-left: 60%;

  }
  
  .uptodate2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 20%;
    max-width: 25%;
    margin-top: 6%;
    margin-bottom: 5%;
  }
  #uptodate-img2{
    width: 100%;
    max-height: auto;
    margin: left 0%;;

  }
  .uptodate3{
    position: relative;
    font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: cover;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 20%;
    max-width: 25%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-top: 5%;
    color: #e60c3d;

  }
  .blank{
    position: relative;
    flex: 0 0 15%;
    max-width: 25%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-top: 5%;

  }

  .btn{
    flex: 0 0 5%;  
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

  }
  .ipt{
    flex: 0 0 80%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;


  }
  .blank2{
    position: relative;
    flex: 0 0 15%;
    max-width: 25%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-top: 5%;

  }
  .input{
    border: solid !important;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s


  }
  .buttonsearch {
    font-weight: 700;
    padding: 17px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #e60c3d;
    border-color: #e60c3d;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .buttonsearch:hover {
    transform: scale(1.1);
  }
  
  .buttonsearch:active {
    transform: scale(0.9);
  }
  
.selections {

    text-align: center;
    box-sizing: content-box !important;
    border: 1px  black ;
    background-color: chartreuse;
    padding: 10px ;
    margin: 10px ;
    border-radius:50px 50px 25px ;
    font-size:x-large ;
    padding-left: 50px !important;
    padding-right: 15px !important;
  }
  .selections a{text-decoration: none}
  @keyframes slideIn {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .selections {
    animation: slideIn 0.5s ease;
  }

